.container{
    border: 2px solid black;
    display: flex;
    align-items: space-between;
    width: 400px;
    padding: 10px;
}

div{
    border: 2px solid black;
    display: flex;
    align-items: space-between;
    padding: 10px;
}